<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
    {{ partial "head.html" . }}
    <body>

      <div id="content">
        <ul>
          <h1>blog.jfo.click</h1>
        </ul>
        <div>
          <i> a recent thing: </i>
          {{ range first 1 (where (where .Pages "Draft" false) "Type" "post") }}
          <div><a href="{{ .Permalink }}">{{ .Title }}</a></div>
          {{ end }}
        </div>
        <p>
          <i> some older things: </i>
          <div><a href="{{ .Permalink }}">{{ .Title }}</a></div>
          <div><a href="{{ .Permalink }}">{{ .Title }}</a></div>
        </p>

      </div>
    </body>
</html>
