<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
    {{ partial "head.html" . }}
    <body>
        <div id="content">
            {{ partial "header.html" . }}

            <table>
              {{ range where .Pages "Type" "post" }}{{ if eq .Draft true }}
                <tr>
                    <td style="background-color: #9fc2fc;"><time>{{ .Date.Format "Jan 02, 2006" }}</time></td>
                    <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
                </tr>
              {{ end }}{{ end }}
              {{ range where .Pages "Type" "post" }}{{ if eq .Draft false }}
                <tr>
                    <td><time>{{ .Date.Format "Jan 02, 2006" }}</time></td>
                    <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
                </tr>
              {{ end }}{{ end }}
            </table>

        </div>
    </body>
</html>
